.proposalInformation {
  height: fit-content;
  width: 100%;
  animation: fadeInOpacity 2s;
}

.proposalInformation > .proposal__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  font-family: sans-serif;
  margin-top: 3vh;
  flex-direction: column;
}
.proposalInformation > .proposal__heading > .styledHR > hr {
  background: linear-gradient(var(--bg-primary), var(--bg-primary));
  width: 20vw;
  margin-top: 10px;
}
.proposalInformation > .proposal__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
  width: 60vw;
}
.proposalInformation > .proposal__description > p {
  margin: 20px;
}
.proposalInformation > .proposal__description > p > h5 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 10px;
  padding-top: 2px;
  border-bottom: 1px solid var(--bg-primary);
}
.proposalInformation > .proposal__description > p > p {
  margin-top: 1vh;
  margin-left: 15vw;
  font-family: sans-serif;
  font-size: 18px;
}

.proposal__options {
  display: flex;
  flex-direction: column;
}

/* p.proposal__options > a > .btn {
  margin-left: 15vw;

} */

.proposal__options__list {
  display: grid;
  width: 80vw;
  grid-template-columns: auto auto;
}
.proposal__options__list > button {
  margin-left: 30px;
  margin-top: 30px;
  width: 30vw;
}
.voteButton {
  margin: 0 auto;
}
.proposal__authority__options {
  display: flex;
  justify-content: space-between;
}
.proposal__authority__options > .btn {
  margin-left: 10vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.already__contributed {
  margin-left: 50vw;
}
.accepted__message {
  margin-left: 10vw;
}
