.proposal__suggestion__wrapper {
  background-color: black;
  margin-top: 15vh;
  height: 85vh;
  width: 100%;
  color: white;
}

.proposal__suggestion {
  position: absolute;
  left: 30vw;
  top: 20vh;
  height: 53vh;
  width: 25vw;
  background: black;
  padding: 100px;
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--bg-primary);
}

.proposal__suggestion:hover {
  animation: fadeInBorder 4s infinite;
}

.proposal__suggestion > div {
  color: white;
  display: flex;
  flex-direction: column;
}

.proposal__suggestion > .validation {
  color: red;
  margin-bottom: 10px;
}

.proposal__suggestion > .proposal__suggestion__heading > h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(56, 237, 234);
  padding-bottom: 50px;
  font-size: 30px;
  width: 30vw;
}

.proposal__suggestion > div > input {
  outline: none;
  border: none;
  padding: 10px;
  color: black;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.proposal__suggestion-btn > a > .btn-primary {
  padding: 10px;
  border: 1px solid grey;
  font-family: sans-serif;
  border-radius: 10px;
  width: 100%;
  border-color: rgb(56, 237, 234);
  color: white;
  transition: 200ms transform ease-in-out;
}

.proposal__suggestion-btn > a > .btn-primary:hover {
  background: rgb(56, 237, 234);
  color: black;
  transform: scale(1.02);
  box-shadow: 2px 2px 2px 2px rgb(56, 237, 234);
  cursor: pointer;
}
.proposal__suggestion-btn {
  display: flex;
  justify-content: space-between;
}
.proposal__suggestion-btn > p {
  margin-top: 10px;
  width: 40vw;
}

@keyframes fadeInBorder {
  0% {
    border: 0.3px solid var(--bg-success);
  }

  100% {
    border: 1px solid var(--bg-primary);
  }
}
