.authentication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 0 10vh 5vh 0;
}
.authentication__instructions p {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 2rem;
}
.authentication__header {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(30px, 10vw);
}

.authentication__header > img {
  width: 10vw;
  height: 10vh;
  object-fit: contain;
}
.authentication__buttons {
  display: flex;
}

.authentication__buttons button {
  margin-left: 3vw;
}
