.signup__wrapper {
  background-color: black;
  height: 100vh;
  width: 100%;
  color: white;
  padding-top: 5vh;
  animation: fadeInOpacity 2s;
}

.signup {
  margin: 0 auto;
  height: fit-content;
  width: 35vw;
  background: black;
  padding: 4vh 10vw;
  padding-bottom: 10vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--bg-primary);
  animation: fadeInOpacity 3s;
}

.signup:hover {
  animation: fadeInBorder 4s infinite;
  cursor: pointer;
}

.signup > div {
  color: white;
  display: flex;
  flex-direction: column;
}

.signup > .account__validation {
  color: var(--bg-success);
  margin-bottom: 10px;
}

.signup > .signup__heading > h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  color: var(--bg-success);
  padding-bottom: 50px;
  font-size: 40px;
}

.signup > div > input {
  outline: none;
  border: none;
  padding: 10px;
  color: black;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signup-btn > a > .btn-primary {
  padding: 10px;
  border: 1px solid grey;
  font-family: sans-serif;
  border-radius: 10px;
  width: 100%;
  border-color: rgb(56, 237, 234);
  color: white;
  transition: 200ms transform ease-in-out;
  padding-bottom: 5vh;
}

.signup-btn > a > .btn-primary:hover {
  background: rgb(56, 237, 234);
  color: black;
  transform: scale(1.02);
  box-shadow: 2px 2px 2px 2px rgb(56, 237, 234);
  cursor: pointer;
}

@keyframes fadeInBorder {
  0% {
    border: 0.3px solid var(--bg-success);
  }

  100% {
    border: 1px solid var(--bg-primary);
  }
}
